

<div id="add-rating-container" class="add-rating-container">
    <div class="add-rating-inner-container">
        <div class="close-review-model">
            <span id ="close-review-model" class="material-symbols-outlined">
               close
            </span>
        </div>
        <h2 class="rating-feedback">Thank you for the Response!</h2>
    <div class="ratings-stars">
            <span id="star-1" class="material-symbols-outlined not-filled-star rating-star">star</span>
            <span id="star-2" class="material-symbols-outlined not-filled-star rating-star">star</span>
            <span id="star-3" class="material-symbols-outlined not-filled-star rating-star">star</span>
            <span id="star-4" class="material-symbols-outlined not-filled-star rating-star">star</span>
            <span id="star-5" class="material-symbols-outlined not-filled-star rating-star">star</span>
    </div>
    <div class="rating-description-container">
        <span class="rating-description">Select the Rating</span>
    </div>
    <div class="submit-container">
        <button id="rating-submit-btn" class="submit-button">Submit</button>
    </div>
    </div>
</div>
<div id="rating-overlay" class="rating-overlay"></div>
