.add-rating-container {
    position: absolute;
    display: flex;
    margin: auto;
    top: -50%;
    left: 25%;
    z-index: 1003;
    height: 50%;
    width: 50%;
    background-color: white;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease;
    border-radius: 20px;
}

.add-rating-container.active {
    top: 25%; /* Show rating container */
}

.close-review-model {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.rating-feedback {
    margin-bottom: 3rem;
    display: none;
}


.rating-description-container,
.rating-stars,
.submit-container{
    display: flex;
    justify-content:center;
}

.rating-description-container{
    margin-top: 1.5rem;
}

.submit-container {
    margin-top: 5rem;
}

.submit-container button {
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    background-color: #f17f06;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.rating-star {
    cursor: pointer;
    font-size: 60px;
}

.rating-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
    z-index: 1002;
    display: none; /* Hidden by default */
}

   .rating-overlay.active {
        display: block; /* Show when active */
   }

